@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@400;500;700&family=Overpass&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}
body,html{
    font-family: 'Questrial', sans-serif;
    margin:0 auto;
    height: 100%; /* 부모 요소(html 및 body)의 높이를 100%로 설정 */
    background:#f8e1ba;
}
.calendarContainer{
    width: calc(100vw - 140px);
    height: calc(100vh - 140px);
    background-color: rgb(246, 251, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.bodyContainer{
    padding: 70px 70px 70px 70px;
    background:white;
}
.MainContainer{
    width: calc(100vw - 140px);
    height: calc(100vh - 140px);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.MainImgContainer{
    width: 43%;
    height: 100%;
    background-color: beige;
}
.MainImgContainer img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.MainTxtContainer{
    width: 57%;
    height: 100%;
    background-color: rgb(246, 251, 255);
    position: relative;
}
.MainTxtInner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;


    padding-left: 6.25rem;
}

.MainTxtInner h3:nth-child(1){
    font-size: 4.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    color: rgb(51, 51, 51);
}
.MainTxtInner span{
    display: inline-block;
    width: 4.375rem;
    height: 0.313rem;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1.875rem;
}
.typing {
    font-size: 2.2rem;
    display: flex;
  align-items: flex-end;
}
.text {
    font-weight: bolder;
    font-size: 2.2rem;
    margin-left: .6rem;
  }
  
.text::after {
content: '';
margin-left: .4rem;
border-right: 2px solid #777;
animation: cursor .9s infinite steps(2);
}
@keyframes cursor {
    from { border-right: 2px solid #222; }
    to { border-right: 2px solid #777; }
}

.MainGoButton{
    width: 150px;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgb(51, 51, 51);
    padding: 1.75rem 2.375rem;
    line-height: 0.375;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 2.188rem;
    cursor: pointer;
    transition: 0.3s;
}
.MainGoButton:hover{
    background: transparent;
    color: rgb(51, 51, 51);
}
.headerContainer{
    position: absolute;
    width: 100%;
    height: 70px;
    padding-left: 70px;
    padding-right: 70px;
}
.headerInner{
    position: relative;
    width: 100%;
    height: 100%;
}
.headerInner h2{
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0 0;
    transform: translateY(-50%);
    font-weight: bolder;
}
.iframeContainer{
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0 0;
    transform: translateY(-50%);
}
.iframeContainer a{
    text-decoration: none;
    color: black
}
.iframeContainer a:nth-child(1){
    margin-right: 10px;
}
.iframeContainer a i{
    font-size: 2em;
}

.datepicker_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:25%;
    height: 95%;
    margin-right: 5%;
}
table{
    border-collapse: initial ;
    caption-side: initial ;
}
.datepicker_table{
    justify-content:center;
    align-items:center;
    background:#fff;
    padding:20px;
    border-radius:10px;
    width:70%;
    height: 40%;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -10px 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);
}
.datepicker_table td, th{
    width: 40px;
    height: 40px;
    border-radius:50px;
}
.control:hover,
.datepicker_table .tbody_Day_td:hover{
    background:#eee;
}

.selectToday{
    background-color: #FFCA64;            
    color: #fff;
    cursor: pointer;
}
.today{            
    background-color: #0a3d62;     
    color:white;       
}
.calender_font{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.PostIt{
    margin-bottom: auto;
    height:40%;
    border-radius:10px;
    width:70%;
    background-color: #FFFF99;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -10px 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);;
    border-bottom-right-radius: 80px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
}
.PostIt_title{
    width:100%;
    height:30px;
    background-color: #f5f51d;
    margin-bottom: 10x;
}
.modalBody{
    background-color: #FFFF99;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.modalTitle{
    background-color: #f5f51d;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}
.DetailmodalBody{
    background-color: white;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.DetailmodalTitle{
    background-color:  white;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}
.todoList_container{
    width:70%;
    height:90%;

}
.todolist{
    background-color: white;
    width:90%;
    height:95%;
    border-radius:10px;
    overflow-y: scroll;
    overflow-x:hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -10px 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);;
}
.bordered-div {
    border-bottom: 1px solid #000; /* 아래쪽 테두리 스타일, 너비, 색상을 설정합니다. */
    width:300px;
    height:100px;
    resize: both;

    
}
.timelist{
    width:80px;
    height:100%;
    position: relative;
    text-align: left;
    font-weight: bold;
    
}
.divlist{
    position:relative;
    height: 1650px;;
    width:100%;
    margin-left: 20px;

    z-index: 1;
}
.wall{
    position:absolute;
    border-right: 1px solid gray;
    width:20px;
    height:1650px;
    margin-Left:80px;
}
.timerCircle{
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 12px;
    
    width: 12px;
    z-index: 5;
    top: -50px;
}
.timerSquare{
    background: red;
    content: "";
    position: absolute;
    height: 1px;
    
    width: 100%;
    margin-top: 5px;
    z-index: 5;
    top: -50px;
}

.vtimer{
    animation: vibration .1s infinite;
}

.xbutton{
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 5px;
    position: absolute;
    transition: background-color 0.3s ease;
    cursor: pointer;

}
.xbutton:hover {
    background-color: rgb(189, 190, 190);

  }
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.test_obj {
    position: relative;
    animation: fadeInUp 0.5s;
}
@keyframes vibration {
    from {
      transform: rotate(4deg);
    }
    to {
      transform: rotate(-4deg);
    }
  }