body,html{
    font-family: 'Questrial', sans-serif;
    margin:0 auto;
    height: 100%; /* 부모 요소(html 및 body)의 높이를 100%로 설정 */
    background:#f8e1ba;
}
.datepicker_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:30%;
    height: 100%;
}
table{
    border-collapse: initial ;
    caption-side: initial ;
}
.datepicker_table{
    justify-content:center;
    align-items:center;
    background:#fff;
    padding:20px;
    border-radius:10px;
    width:70%;
    height: 40%;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}
.datepicker_table td, th{
    width: 40px;
    height: 40px;
    border-radius:50px;
}
.control:hover,
.datepicker_table .tbody_Day_td:hover{
    background:#eee;
}

.selectToday{
    background-color: #FFCA64;            
    color: #fff;
    cursor: pointer;
}
.today{            
    background-color: #0a3d62;     
    color:white;       
}
.calender_font{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.PostIt{
    margin-bottom: auto;
    height:40%;
    border-radius:10px;
    width:70%;
    background-color: #FFFF99;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    border-bottom-right-radius: 80px;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
}
.PostIt_title{
    width:100%;
    height:30px;
    background-color: #f5f51d;
    margin-bottom: 10x;
}
.modalBody{
    background-color: #FFFF99;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.modalTitle{
    background-color: #f5f51d;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}
.todoList_container{
    width:70%;
    height:90%;

}
.todolist{
    background-color: white;
    width:90%;
    height:95%;
    border-radius:10px;
    overflow: scroll;
    
}
.bordered-div {
    border-bottom: 1px solid #000; /* 아래쪽 테두리 스타일, 너비, 색상을 설정합니다. */
    width:300px;
    height:100px;
    resize: both;

    
}
.timelist{
    width:80px;
    height:100%;
    position: relative;
    text-align: left;
    font-weight: bold;
    
}
.divlist{
    position:relative;
    height: 1650px;;
    width:100%;
    margin-left: 10px;
    z-index: 1;
}
.wall{
    position:absolute;
    border-right: 1px solid gray;
    width:20px;
    height:84%;
    margin-Left:80px;
    
    z-index: 2;
}
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');