@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body,html{
    font-family: 'Questrial', sans-serif;
    margin:0 auto;
    height: 100%; /* 부모 요소(html 및 body)의 높이를 100%로 설정 */
    background:#f8e1ba;
}
.datepicker_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:30%;
    height: 100%;
}
.datepicker_table{
    justify-content:center;
    align-items:center;
    background:#fff;
    padding:20px;
    border-radius:10px;
    width:70%;
    height: 30%;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}
.datepicker_table td, th{
    width: 50px;
    height: 50px;
    border-radius:50px;
}
.control:hover,
.datepicker_table .tbody_Day_td:hover{
    background:#eee;

}
.today{            
    background-color: #0a3d62;     
    color:white;       
}
.calender_font{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.todoList{
    margin-bottom: auto;
    height:100px;
    border-radius:10px;
    padding:20px;
    background-color: white;
}
